@import "tailwindcss";

.course-card {
  @apply cursor-pointer flex flex-col justify-between border rounded-lg p-4;
}

.course-card:hover {
  transition-duration: 100ms;
  transform: scale(1.02);
}

.course-card.selected {
  @apply shadow-lg bg-green-100;
}

.course-card.conflicting {
  @apply opacity-40 cursor-not-allowed;
}

.course-card.conflicting:hover {
  transform: none;
}